@import url("../styles/fonts.css");

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.main-page {
  background-image: url("../image/castelmezzano-compress.webp");
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
}

.header {
  width: 1232px;
  height: 46px;
  margin: 0 auto;
  padding-block-start: 51px;
}

.header_content-inner {
  width: 1232px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.header__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  text-decoration: none;
  color: #ffffff;
}

.header_wrapper-1 {
  width: 59px;
  padding-left: 684px;
}

.header_wrapper-2 {
  width: 118px;
  padding-left: 24px;
}

.header__icon-1 {
  width: 30px;
  padding-left: 48px;
  padding-right: 24px;
}

.header__icon-2 {
  width: 40px;
}

.header__line {
  width: 50px;
  height: 4px;
  margin: 0 auto;
  border: 0px;
  margin-inline-start: 894px;
  margin-block-start: 2px;
  background-color: #f5bd41;
}

.section {
  width: 1232px;
  height: 487px;
  margin: 0 auto;
  margin-block-start: 196px;
}

.section__slogan {
  width: 542px;
  height: 118px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;

  color: #ffffff;
}

.section__signature {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  margin-block-start: 100px;
  margin-block-end: 24px;

  color: #ffffff;
}

.section_signature-text-padding {
  padding-left: 24px;
  padding-right: 221px;
}

.section__form {
  max-width: 1232px;
  margin: 0 auto;
  display: flex;
  width: 1040px;
  height: 64px;
  background: #ffffff;
  border: 3px solid #f3f3f4;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0px;
}

.section__input-form__input--city {
  padding: 0px;
  width: 463px;
  height: 64px;
  padding: 0px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  margin-block-start: -3px;
}

.section__input-form__input--date {
  display: flex;
  width: 129px;
  height: 64px;
  border: 3px solid #f5bd41;
  box-sizing: border-box;
  border-radius: 8px;
  margin-block-start: -3px;
  padding: 0px;
}

.section__input-form__input--guests {
  width: 314px;
  height: 64px;
  padding: 0px;
  margin-block-start: -3px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
}

::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-left: 24px;
}

::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-left: 24px;
}

:-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-left: 24px;
}

:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-left: 24px;
}

.input:placeholder-shown {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-left: 24px;
}

.section__button-form {
  width: 192px;
  height: 64px;

  background: #3077c6;
  box-sizing: border-box;
  border-radius: 8px;
  margin-block-start: -3px;
  padding: 0px;
  margin-inline-end: -4px;
}

.section__button-form__button--text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.section__icons {
  margin-block-start: 120px;
  padding-left: 481px;
}

.offers-block {
  background-color: #ffffff;
  margin-block-start: 120px;
}

.offers-block__heading {
  font-size: 40px;
  color: #383838;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  text-align: center;

  line-height: 47px;
  margin-block-end: 20px;
}

.offers-block__line {
  background-color: #f5bd41;
  align-self: center;

  width: 100px;
  height: 4px;
  margin-block-end: 85px;
}

.offers-block__box {
  max-width: 1232px;
  top: 275px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 0 auto;
  margin-block-end: 120px;
}

.offers-block_box-inner {
  width: 25%;
  text-align: center;
}

.offers-block__img-box {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.offers-block__text-box {
  font-size: 24px;
  line-height: 28px;
  font-family: "Roboto", sans-serif;
  color: #383838;
}

.footer {
  background-color: #10367c;
}

.footer__container {
  max-width: 1440px;
  margin: 0 auto;
}

.footer__list-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding-left: 104px;
  padding-right: 272px;
}

.footer__text-list {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.footer__head-text {
  font-weight: 500;
}

.footer_list-container_wrap-1 {
  list-style: none;
  padding: 0%;
  width: 193px;
  height: 211px;
  margin-block-start: 120px;
}

.footer_list-container_wrap-1 li {
  margin-bottom: 24px;
}

.footer_list-container_wrap-2 {
  list-style: none;
  padding: 0%;
  width: 133px;
  height: 310px;
  margin-block-start: 120px;
  margin-block-end: 64px;
}

.footer_list-container_wrap-2 li {
  margin-bottom: 24px;
}

.footer_list-container_wrap-3 {
  list-style: none;
  padding: 0%;
  width: 233px;
  height: 122px;
  margin-block-start: 120px;
}

.footer_list-container_wrap-3 li {
  margin-bottom: 24px;
}

.footer__text-copyright {
  width: 256px;
  height: 16px;
  margin-left: 103px;
  padding-bottom: 120px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}
