@import url("../styles/fonts.css");

.background {
  background-image: url("/image/castelmezzano-background.svg");
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
}

.top-section {
  max-width: 1440px;
  height: 900px;
  align-self: center;
  margin: 0 auto;
  padding-block-start: 51px;
}

.item-header-wrapper {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  justify-content: center;
  margin-block-end: 12px;
}

.logo {
  padding-left: 104px;
  width: 205px;
  height: 40px;
}

.first-item-header {
  width: 59px;
  line-height: 40px;
  padding-left: 684px;
  text-decoration: none;
  color: #ffffff;
}

.second-item-header {
  width: 118px;
  padding-left: 24px;
  line-height: 40px;
  text-decoration: none;
  color: #ffffff;
}

.night-theme {
  padding-left: 48px;
  padding-top: 5px;
}

.account {
  padding-left: 24px;
}

.small-hr {
  width: 50px;
  height: 4px;
  margin-left: 998px;
  background-color: #f5bd41;
}

.page {
  height: 487px;
  margin: 0 auto;
}

.slogan {
  width: 542px;
  height: 118px;
  padding-left: 104px;
  padding-top: 293px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;

  color: #ffffff;
}

.signature {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  margin-top: 100px;
  margin-bottom: 24px;

  color: #ffffff;
}

.text-1 {
  margin-left: 128px;
}

.text-2 {
  margin-left: 221px;
}

.form {
  max-width: 1232px;
  margin: 0 auto;
  display: flex;
  width: 1040px;
  height: 64px;
  background: #ffffff;
  border: 3px solid #f3f3f4;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0px;
}

.place-form {
  padding: 0px;
  width: 463px;
  height: 64px;
  padding: 0px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  margin-block-start: -3px;
}

.date-form {
  display: flex;
  width: 129px;
  height: 64px;
  border: 3px solid #f5bd41;
  box-sizing: border-box;
  border-radius: 8px;
  margin-block-start: -3px;
  padding: 0px;
}

.guests-form {
  width: 314px;
  height: 64px;
  padding: 0px;
  margin-block-start: -3px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
}

::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-left: 24px;
}

::-moz-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-left: 24px;
}

:-moz-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-left: 24px;
}

:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-left: 24px;
}

.input:placeholder-shown {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-left: 24px;
}

.button {
  width: 192px;
  height: 64px;

  background: #3077c6;
  box-sizing: border-box;
  border-radius: 8px;
  margin-block-start: -3px;
  padding: 0px;
  margin-inline-end: -4px;
}

.text-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  padding: 20px 57px;
}

.icons {
  text-align: center;
  margin-block-start: 120px;
}

.offers-section {
  background-color: #ffffff;
  margin-block-start: 120px;
}

.heading {
  font-size: 40px;
  color: #383838;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  text-align: center;

  line-height: 47px;
  margin-block-end: 20px;
}

.hr {
  background-color: #f5bd41;
  align-self: center;

  width: 100px;
  height: 4px;
  margin-block-end: 85px;
}

.box {
  max-width: 1232px;
  top: 275px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 0 auto;
  margin-block-end: 120px;
}

.item {
  width: 25%;
  text-align: center;
}

.img-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.item-text {
  font-size: 24px;
  line-height: 28px;
  font-family: "Roboto", sans-serif;
  color: #383838;
}

.footer {
  background-color: #10367c;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.list-wrapper {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding-left: 104px;
  padding-right: 272px;
}

.footer-links {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.first-list-element {
  font-weight: 500;
}

.list-about {
  list-style: none;
  padding: 0%;
  width: 193px;
  height: 211px;
  margin-block-start: 120px;
}

.list-about li {
  margin-bottom: 24px;
}

.list-property-type {
  list-style: none;
  padding: 0%;
  width: 133px;
  height: 310px;
  margin-block-start: 120px;
  margin-block-end: 64px;
}

.list-property-type li {
  margin-bottom: 24px;
}

.list-support {
  list-style: none;
  padding: 0%;
  width: 233px;
  height: 122px;
  margin-block-start: 120px;
}

.list-support li {
  margin-bottom: 24px;
}

.text-copyright {
  width: 256px;
  height: 16px;
  margin-left: 103px;
  padding-bottom: 120px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}
